@import '../../styles/colors';
@import '../../styles/mixins';

.container {
    padding-inline: 4rem;

    @media (max-width: 768px) {
        padding-inline: 0.4rem;
    }

    h3 {
        @include pageHeading;
    }
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .dayTitle {
        font-size: clamp(1.4rem, 0.8rem + 4vw, 2rem);
        text-decoration: underline;
        font-weight: 600;
        text-align: center;
    }

    .cardsContainer {
        $grid-item--max-width: calc((100% - 2rem) / 3);

        display: grid;
        grid-template-columns: repeat(
            auto-fill,
            minmax(max(300px, $grid-item--max-width), 1fr)
        );
        gap: 1rem;
        place-items: center;

        .card {
            background-color: transparent;
            backdrop-filter: blur(10px);
            border: $accent 1px solid;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            padding: 1.5rem;
            max-width: 500px;
            margin: auto;
            cursor: pointer;
            height: 300px;
            transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

            &:hover {
                scale: 1.02;
                color: $bg;
                background-color: $accent;
            }

            .title {
                font-size: clamp(1rem, 0.5rem + 3vw, 1.7rem);
                font-weight: 700;
                margin-bottom: 1.3rem;
            }
            .time {
                margin-bottom: 0.4rem;
            }
            .description {
                opacity: 0.8;
                font-size: 1rem;
                font-family: 'Inter Tight', sans-serif;
            }
        }
    }
}
