@import '../../styles/colors';

.container {
    background-color: $bg-footer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 2rem;

    .socials {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 3rem;

        h4 {
            font-size: 2rem;
            letter-spacing: 0.5px;
        }

        ul {
            display: flex;
            gap: 2rem;
            list-style: none;
            justify-content: baseline;
            align-items: center;
        }
    }
    @media (max-width: 870px) {
        & {
            flex-direction: column;
            padding-top: 3rem;
            
            ul{
                justify-content: center;
            }
        }
    }
}
